label.checkbox-label > input{ /* HIDE CHECKBOX */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.checkbox-label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:5px solid transparent;
}
label.checkbox-label > input:checked + img{ /* (BOX CHECKED) IMAGE STYLES */
  border:5px solid #f00;
<<<<<<< HEAD
}
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif; text-align:center;}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/w3images/profile_girl.jpg');
    min-height: 100%;
}
select {
	width: 100px;
	font-size: 24px;
}
input[type="number"] {
	width: 100px;
	font-size: 24px;
}
input[type="radio"] {
	margin-right: 50px;
	margin-left: 50px;
}
input[type="submit"] {
    width: 100px;  
    font-size: 24px;
}
form {
	font-size: 24px;
}
.radiogroup {
  display: inline-block;
  text-align: center;
}
.radiogroup label {
  display: block;
}
footer {
  position: relative;
  text-align: center;
  bottom: -80px;
  font-family: "Cantarell";
  font-size: 14px;
}
=======
}
>>>>>>> origin/master
